{% load static%}
<!--   partner section start    -->
<div class="partner-section" style="background-color: #D36135;">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="partner-carousel owl-carousel owl-theme border-bottom border-top-lg-0 border-top">
               <div class="single-partner-item">
                  <div class="outer">
                     <div class="inner" style="position: relative;">
                        <a href="{% url 'camisetamasculino' %}"><img src="{% static 'img/camisetahombre.png' %}"  style="border: 2px solid #FBFADA;">
                          <p class="titulo">CAMISETAS MASCULINAS</p></a>
                    </div>
                  </div>
               </div>
               <div class="single-partner-item">
                  <div class="outer">
                     <div class="inner" style="position: relative;">
                        <a href="{% url 'camisetafemenina' %}"> <img src="{% static 'img/camisetamujer.png' %}" style="border: 2px solid #FBFADA;">
                          <p class="titulo">CAMISETA FEMENINA</p></a>
                    </div>
                    
                    
                    
                    
                  </div>
               </div>
               <div class="single-partner-item">
                  <div class="outer">
                     <div class="inner" style="position: relative;">
                        <a href="{% url 'conjuntodeportivo' %}"><img src="{% static 'img/conjuntodeportivo.png' %}" style="border: 2px solid #FBFADA;">
                        <p class="titulo">CONJUNTOS DEPORTIVOS</p></a>
                    </div>
                  </div>
               </div>
               <div class="single-partner-item">
                  <div class="outer">
                     <div class="inner" style="position: relative;">
                        <a href="{% url 'otrosdeportes' %}"><img src="{% static 'img/otrosdeportes.png' %}" style="border: 2px solid #FBFADA;">
                          <p class="titulo">OTROS DEPORTES</p></a>
                    </div>
                  </div>
               </div>
               <div class="single-partner-item">
                  <div class="outer">
                     <div class="inner" style="position: relative;">
                        <a href="{% url 'accesorios' %}"> <img src="{% static 'img/accesorios.png' %}" style="border: 2px solid #FBFADA;">
                          <p class="titulo">ACCESORIOS</p></a>
                    </div>
                  </div>
               </div>
               <div class="single-partner-item">
                  <div class="outer">
                     <div class="inner" style="position: relative;">
                        <a href="{% url 'instituciones' %}"> <img src="{% static 'img/instituciones.png' %}" style="border: 2px solid #FBFADA;">
                          <p class="titulo">INSTITUCIONES</p></a>
                    </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--   partner section end    -->

<!--   cta section start    -->

        