{% load static%}
<!--   partner section start    -->
<div class="partner-section" style="background-color: #183650;">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="partner-carousel owl-carousel owl-theme border-bottom border-top-lg-0 border-top">
               <div class="single-partner-item">
                  <div class="outer">
                     <div class="inner">
                        <img src="{% static 'img/Remeras Hombres1.png' %}">
                     </div>
                  </div>
               </div>
               <div class="single-partner-item">
                  <div class="outer">
                     <div class="inner">
                        <img src="{% static 'img/Logonombre-AXD1.png' %}" >
                     </div>
                  </div>
               </div>
               <div class="single-partner-item">
                  <div class="outer">
                     <div class="inner">
                        <img src="{% static 'img/Remeras Hombres1.png' %}" alt="">
                     </div>
                  </div>
               </div>
               <div class="single-partner-item">
                  <div class="outer">
                     <div class="inner">
                        <img src="{% static 'img/Remeras Hombres1.png' %}" alt="">
                     </div>
                  </div>
               </div>
               <div class="single-partner-item">
                  <div class="outer">
                     <div class="inner">
                        <img src="{% static 'img/Remeras Hombres1.png' %}" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--   partner section end    -->

<!--   cta section start    -->

        