{% extends "base.html" %}
{% load static%}
{% block head %}
    {{ block.super }}
    
    <!-- easyzoom css -->
    <link rel="stylesheet" href="{% static 'css/easyzoom.css' %}">
      <!-- slicknav css -->
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <!-- jquery ui css -->
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  
    
{% endblock %}

   
{% block content %}
   <body>
     
      
              <!--  Cart Table Start  --> 
              <div class="cart-table">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12">
                      {% if request.session.carrito.items %}
                        <div class="table-responsive">
                           <table class="table table-bordered">
                              <thead>
                                 <tr>
                                    <th scope="col">Borrar</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Titulo</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Total</th>
                                 </tr>
                              </thead>
                              <tbody>
       
                               
                               {% for key, value in request.session.carrito.items %}
                                 <tr>
                                    <td class="action">
                                    
                                       <a href="{% url 'CLSK' key %}"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                    <td>
                                     <a href="{% url 'PD' key %}">
                                        <img src="https://imgec.s3.sa-east-1.amazonaws.com/{{ value.imagen }}" width="200" class="table-img">
                                    </a>
                                    
                                     
                                    </td>
                                    <td class="title"><a class="title" href="{% url 'PD' key %}">{{ value.nombre }}</a></td>
                                    <td class="price">
                                     <del>${{ value.precioanterior }}</del>
       
                                       <span>$ {{ value.precio }}</span>
                                    </td>
                                    <td>
                                       <input class="quantity" type="number" name="quantity" value={{ value.cantidad }} min="1" disabled>
                                    </td>
                                    <td class="total"><span>$ {{ value.acumulado }}</span></td>
                                 </tr>
                            {% endfor %}
                            <td colspan="6">
                               <div class="cartbtn-container">
                                  <a class="cartbtn shop" href="{% url 'gallery' %}">Galeria</a>
                                  
                                  <a class="cartbtn cart" href="{% url 'cart' %}">Ir a Pagar</a>
         {% else %}
                                
       
                 <div class="alert alert-danger text-center"> Sin Productos </div>
                 <a class="cartbtn shop" href="{% url 'gallery' %}" style="text-align: left;">Galeria</a>
       
       
         {% endif %}
                                       </div>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                      
                     </div>
                  </div>
               </div>
            </div>
            <!--  Cart Table Area End  --> 

            <div class="cart-cards checkout">
          
               <!--     Shipping Address Start      -->   
               
                  <div class="container">
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="card">
                              <div class="card-header">
                                 <h5>Dirección de Envió</h5>
                              </div>
                           </div><br><br>
                        </div>
                        <div class="col-lg-6">
                           <div class="form-element">
                              <label for="">Nombre :</label>
                              <input type="text" name="nombre" required placeholder="Nombre">
                           </div>
                        </div>
                        <div class="col-lg-6">
                           <div class="form-element">
                              <label for="">Apellido :</label>
                              <input type="text" name="apellido" required placeholder="Last Name">
                           </div>
                        </div>
                     </div><br>
                     <div class="row align-items-end">
                        <div class="col-lg-6">
                           <div class="form-element">
                              <label for="">Dirección :</label>
                              <input type="text"  name="direccion" required placeholder="Dirección">
                           </div>
                        </div>
                        <div class="col-lg-6">
                           <div class="form-element">
                              <label for="">Nº :</label>
                              <input type="text"  name="numero" required placeholder="Número">
                           </div>
                        </div>
                     </div><br>
                     <div class="row">
                        <div class="col-lg-4">
                           <div class="form-element">
                              <label for="">Ciudad :</label>
                              <input type="text"  name="ciudad" required placeholder="Ciudad">
                           </div>
                        </div>
                        <div class="col-lg-4">
                           <div class="form-element">
                              <label for="">Provincia :</label>
                              <input type="text"  name="estado" required placeholder="Provincia">
                           </div>
                        </div>
                        <div class="col-lg-4">
                           <div class="form-element">
                              <label for="">Código Postal :</label>
                              <input type="text"  name="codigo_postal" required placeholder="Código Postal">
                           </div>
                        </div>
                     </div><br>
                     <div class="row">
                        <div class="col-lg-6">
                           <div class="form-element">
                              <label for="">País :</label>
                              <input type="text"  name="pais" required placeholder="Pais">
                           </div>
                        </div>
                        <div class="col-lg-6">
                           <div class="form-element">
                              <label for="">Teléfono :</label>
                              <input type="text"  name="telefono" required placeholder="Teléfono">
                           </div>
                           
                        </div>     </div> 
                       </div><br>

                       
                        
                        <div class="col-lg-12">
                           <div class="row">
                               <div class="col-lg-8"></div> <!-- Agregar un margen de 2 columnas a la izquierda -->
                               <div class="col-lg-0">
                           

                                <a href="#detallecompra" class="cartbtn" class="wow fadeInUp boxed-btn" data-wow-duration="1.5s" id="enlaceObjetivo" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUp;"><span>Cotizar Envio</span></a>


                               </div>
                               <div id="detallecompra" class="col-lg-2"></div> <!-- Agregar un margen de 2 columnas a la derecha -->
                           </div>
                       </div>
                 
                  </div>
               </div>
               
               <!--     Shipping Address End      -->                 
            </form>
      
      <!--  Cart Cards Area End  -->    
      
         <div id="detallecompra" class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="card">
                     <div class="card-header">
                        <h5>Detalle de Compra</h5>
                     </div>
                     <div class="card-body">
                        <div class="calculations">
                           <div class="single-calc">
                              <strong>Total Carrito</strong>
                              <span>$ {{ total_aum }}</span>
                           </div>
                           <div class="single-calc">
                              <strong>Descuento 20% Off</strong>
                              <span>- $ {{ desc }}</span>
                           </div>
                           <div class="single-calc">
                              <strong>Subtotal</strong>
                              <span>$ {{ subtotal }}</span>
                           </div>
                           <div class="single-calc">
                              <strong>Envio</strong>
                              <span>$ 3500.00</span>
                           </div>
                           <div class="single-calc total">
                              <strong>Total</strong>
                              <span>$ {{ total_compra }}</span>
                           </div>
                        </div>
                     <br>
                           <div class="row">
                              
                              <div class="col-lg-8">
                                 <div class="coupon-input">
                                    
                                 
                                    <a class="cartbtn shop" href="{% url 'datosbanco' %}" style="display: block; text-align: center;">Transferencia Bancaria <br>10% Off</a>

                                 
                                 </div>
                              </div>
                              <div class="col-lg-4">
                                 
                                    <div id="wallet_container"></div>
                              
                              </div>
                           </div>
                    
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--  Cart Cards Area End  -->  
      
      
      
      <script src="https://sdk.mercadopago.com/js/v2"></script>

     
    
      <script>
        const mp = new MercadoPago('APP_USR-f98a79c9-89ef-4891-9215-ff35a331df51');
        const bricksBuilder = mp.bricks();
      
        mp.bricks().create("wallet", "wallet_container", {
          initialization: {
            preferenceId: "{{ preference_id }}",
          },
        });
      </script>
      
      {% include "footer.html" %}
      
      
   



         
      <!-- popper js -->
      <script src="{% static 'js/popper.min.js' %}"></script>
      <!-- bootstrap js -->
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- owl carousel js -->
      <script src="{% static 'js/owl.carousel.min.js' %}"></script>
      <!-- isotope js -->
      <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
      <!-- isotope js -->


      <script src="{% static 'js/pricing-range.js' %}"></script>
      <!-- easyzoom js -->
      <script src="{% static 'js/easyzoom.js' %}"></script>
      <!-- slicknav js -->
      <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
      

      <!-- jquery ui js -->
      <script src="{% static 'js/jquery-ui.min.js' %}"></script>
      <!-- wow js -->
      <script src="{% static 'js/wow.min.js' %}"></script>
      <!-- main js -->
      <script src="{% static 'js/main.js' %}"></script>
   </body>
   {% endblock %}
</html>