{% load static%}

<div class="service-section">
    <div class="container">
       <span class="title">Galeria</span>
       <h2 class="subtitle">Nuestros Trabajos</h2>
       <div class="service-carousel owl-carousel owl-theme owl-loaded owl-drag">
          
          
          
          
       <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1140px, 0px, 0px); transition: all 1s ease 0s; width: 3800px;"><div class="owl-item cloned" style="width: 350px; margin-right: 30px;"><div class="single-service">
             <div class="img-wrapper">
                <img src="{% static 'img/trabajo.avif' %}" alt="camisetas">
             </div>
             
          </div></div>
          
          <div class="owl-item cloned" style="width: 350px; margin-right: 30px;"><div class="single-service">
             <div class="img-wrapper">
                <img src="{% static 'img/trabajo1.avif' %}" alt="camisetas">
             </div>
          </div></div>
          
          <div class="owl-item cloned" style="width: 350px; margin-right: 30px;"><div class="single-service">
             <div class="img-wrapper">
                <img src="{% static 'img/trabajo2.avif' %}" alt="camisetas">
             </div>
     
          </div></div>
          
          <div class="owl-item active" style="width: 350px; margin-right: 30px;"><div class="single-service">
             <div class="img-wrapper">
                <img src="{% static 'img/trabajo3.avif' %}" alt="camisetas">
             </div>
        
          </div></div>
          
          <div class="owl-item active" style="width: 350px; margin-right: 30px;"><div class="single-service">
             <div class="img-wrapper">
                <img src="{% static 'img/trabajo.avif' %}" alt="camisetas">
             </div>
           
          </div></div>
          
          <div class="owl-item active" style="width: 350px; margin-right: 30px;"><div class="single-service">
             <div class="img-wrapper">
                <img src="{% static 'img/trabajo1.avif' %}" alt="camisetas">
             </div>
           
          </div></div>
          
          <div class="owl-item" style="width: 350px; margin-right: 30px;"><div class="single-service">
             <div class="img-wrapper">
                <img src="{% static 'img/trabajo2.avif' %}" alt="camisetas">
             </div>
           
          </div></div>
          
          <div class="owl-item cloned" style="width: 350px; margin-right: 30px;"><div class="single-service">
             <div class="img-wrapper">
                <img src="{% static 'img/trabajo3.avif' %}" alt="camisetas">
             </div>
            
          </div></div>
          
          <div class="owl-item cloned" style="width: 350px; margin-right: 30px;"><div class="single-service">
             <div class="img-wrapper">
                <img src="{% static 'img/trabajo.avif' %}" alt="camisetas">
             </div>
            
          </div></div>
          
          
          <div class="owl-item cloned" style="width: 350px; margin-right: 30px;"><div class="single-service">
             <div class="img-wrapper">
                <img src="{% static 'img/trabajo1.avif' %}" alt="">
             </div>
            
          </div></div>
        
        
        </div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="flaticon-left-arrow"></i></button><button type="button" role="presentation" class="owl-next"><i class="flaticon-right-arrow"></i></button></div><div class="owl-dots disabled"></div></div>
    </div>
 </div>



 <script src="{% static 'js/owl.carousel.min.js' %}"></script>
