{% load static%}


 <!--  about section start  -->
 <div id="quienessomos" class="about-section home-2">
    <div class="container">
       <div class="row">
          <div class="col-lg-5">
             <img class="ceo-pic" src="{% static 'img/sobrenos.avif' %}" alt="">
          </div>
          <div class="col-lg-6 offset-lg-1">
             <div class="comment-content">
                <span class="title">¿Quienes Somos?</span>
                <h2 style="text-align: left;" class="subtitle">Amor x el Deporte</h2>
                <p>Somos una empresa con diez años de experiencia dedicada a la fabricación y personalización de remeras deportivas para equipos de fútbol y otras disciplinas. Nos destacamos por nuestra pasión por el deporte y nuestro compromiso con la calidad.</p>
                <p>Ofrecemos un servicio personalizado que se adapta a las necesidades individuales de cada cliente, utilizando materiales de alta calidad y tecnología de vanguardia para garantizar la excelencia en cada producto. </p>
                
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!--  about section end  -->